@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather;
}

/* banner section style starts here */

.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
  min-height: 510px;
  margin-top: 15px;
  background-image: url("images/Banner\ Image.png");
  border-radius: 16px;
  background-color:  rgba(7, 2, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  align-items: center;
}
.banner-contain p,
h1 {
  color: #ffffff;
}
.banner-contain p {
  font-size: 30px;
  font-weight: 400;
}
.banner-contain h1 {
  font-size: 72px;
  font-weight: 900;
}
/* 65% section start here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    border: 4px solid red;
    margin: 0 auto;
    margin-top: 90px;
}
