@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather;
}

/* banner section style starts here */

.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 510px;
  margin-top: 15px;
  background-image: url("images/Banner\ Image.png");
  border-radius: 16px;
  background-color: rgba(7, 2, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  align-items: center;
}
.banner-contain p,
h1 {
  color: #ffffff;
}
.banner-contain p {
  font-size: 30px;
  font-weight: 400;
}
.banner-contain h1 {
  font-size: 72px;
  font-weight: 900;
}
/* 65% section start here */
.second-section-container {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 90px;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
}

.second-section-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.image-container {
  width: 802.9px;
  height: 500px;
}
.image-container img {
  width: 100%;
  height: 100%;
}
/* 65% section style end here */

/* Midnight secton style start here */

.midnight-party-container {
  width: 1200px;
  height: 510px;
  margin: 0 auto;
  display: flex;
  background-image: url("/images/new-year-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin-top: 40px;
  margin-bottom: 100px;
}

.leftside-content {
  width: 50%;
  height: 510px;
  width: 642px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.leftside-content h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
}
.leftside-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
  text-align: left;
}

#midnight-party-botton {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: -400px;
}

.rightside-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightside-content img {
  width: 349.16px;
  height: 464.65px;
}

/* Holiday section style start here */

.holiday-section-container {
  width: 1200px;
  height: 986px;
  border: 2px solid red;
  margin-top: 100px;
  margin: 0 auto;
  position: relative;
}

.holiday-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-text-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-text-container h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-text-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.solid-color {
  width: 1200px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 77%;
}
.giftbox {
  width: 674px;
  height: 578px;
  position: absolute;
  z-index: 1;
}
.off {
  border: 2px solid red;
  position: absolute;
  bottom: 30%;
  left: 50%;
  z-index: 1;
  display: flex;
 justify-content: space-around;
}
